ul {
    color: chocolate;
    background: blue;
}
ol {
    color: brown;
    background: aqua;
}
p#z {
    color: #a20404;
}
p#a {
    color: darkblue;
}
.yyy {
    background: cyan;
}
.zzz {
    color: #110d0d;
    background: #892fc5;
}
.ii {
    width: 350px;
    border: 25px solid #e04807;
}
.p {
    width: 70px;
}
.list {
    background: cadetblue;
    max-width: 1000px;
    min-width: 300px;
    max-height: 500px;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 35px solid #110d0d;
    border-radius: 15%;
}