
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("/Homework 8/image/bg.png") no-repeat center/cover;
}

.header__box {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
}

.nav__style {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.nav__style img {
    width: 20px;
}


.navbar-brand {
    padding-right: 268px;
}

.header__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 200px;
    border-left: 2px solid #fff;
    padding-left: 15px;
}

.header__contact {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.header__phone p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0px 19px;
    background-color: #FF7400;
    height: 47px;
    border: none;
    cursor: pointer;
}

.header__title {
    font-weight: normal;
    color: #D67E35;
    margin-top: 203px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
    font-family: Tinos;
}

.header__title h1 {
    font-size: 80px;
    line-height: 92px;
    font-family: Tinos;
}

.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.header__title p::before,
.header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #C4C4C4;;
}

.header__title p::before {
    margin-right: 10px;
}

.header__title p::after {
    margin-left: 10px;
}

.header__intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 31px;
    position: relative;
    top: 130px;
}

.header__intro_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 349px;
    height: 328px;
    grid-gap: 20px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.header__intro_box img {
    width: 87px;
    height: 87px;
    margin: 48px 131px 0px 131px;
}

.header__intro_box h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
    font-family: Tinos;
}

.header__intro_box p {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Tinos;
}

.header__intro_box span {
    color: #BC9060;
}
.nav__btn_mobile {
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
}

.nav__btn_mobile div {
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}
