.father {
    background: gray;
    width: 800px;
    height: 900px;
    column-gap: 20px;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;

}
.mother {
    flex-basis: 65%;
    flex-grow: 3;
}
.box{
    margin: 20px;
}
.a {
    flex-basis: 90%;
    height: 16%;
    background: #c60505;
    flex-grow: 5;
}
.b {
    background: #16be09;
    flex-basis: 15%;
    height: 45%;
    flex-grow: 2;
}
.c {
    background: cornflowerblue;
    height: 40%;
    flex-basis: 60%;
}
.e {
    background: blue;
    flex-basis: 90%;
    height: 16%;
    flex-grow: 5;
}